<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form class="form" action="/posts" method="post">
        <input style="height: 30px; border-radius: 10px; border: none; box-shadow: 0px 0px 3px black; margin:10px;" type="text" placeholder="Enter username" name="username"> <br>
        <textarea style="text-align: center; height: 100px; width: 500px; border-radius: 10px; border: none; box-shadow: 0px 0px 3px black; margin:10px;" placeholder="Write your post" name="content" id="content"></textarea><br>
        <button style="background-color: maroon; color: white; border: none; border-radius: 10px; height: 30px; ">submit post</button>
    </form>
</body>
</html>